<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b38ddd6-29fc-4d81-82eb-b47f8930822d" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="3e918a5c-a479-4bc7-a788-309cf623ef59">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:33:56</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/erqjvwph/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>