<?xml version="1.0" encoding="utf-8"?>
<Media Key="c42b8262-4ff4-4d55-8850-410a0c51520e" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="3e918a5c-a479-4bc7-a788-309cf623ef59">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:34:10</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sa5jsjxp/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>