<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa3242b4-4e29-4158-84c2-fd637386aa4c" Alias="02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:36:11</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i15jasbs/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>