<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ab1bb8c-3e29-4d57-ba2c-bb077a487f12" Alias="03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:36:11</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pydbh4bs/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>