<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf4c2443-b17e-4052-b100-031292f907ef" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="3e918a5c-a479-4bc7-a788-309cf623ef59">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:34:21</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wgmp2llf/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>