<?xml version="1.0" encoding="utf-8"?>
<Media Key="40692f16-1b65-4690-b45f-7abdd8acf8ac" Alias="04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:36:11</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2sjmxit4/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>