<?xml version="1.0" encoding="utf-8"?>
<Media Key="208764ea-bf88-43f2-bf5c-fbaaea9653bd" Alias="05.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:36:11</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ddmdlqut/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>