<?xml version="1.0" encoding="utf-8"?>
<Media Key="93b651be-6c8d-41b0-bef9-5bc0b559df07" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="3e918a5c-a479-4bc7-a788-309cf623ef59">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:34:36</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jtwbi2mw/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>