<?xml version="1.0" encoding="utf-8"?>
<Media Key="57b0f9f6-b8ea-44fb-abd8-40071ee39e4a" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="3e918a5c-a479-4bc7-a788-309cf623ef59">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:34:43</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/arcbfnpr/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>