<?xml version="1.0" encoding="utf-8"?>
<Media Key="203c2bd1-3347-4972-8415-82ff653c1d1d" Alias="06.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:36:11</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eolj3qs2/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>