<?xml version="1.0" encoding="utf-8"?>
<Media Key="17cc76ad-0c43-4e18-aecd-d35b10f31ff2" Alias="image-23-min 1.svg" Level="2">
  <Info>
    <Parent Key="56e66941-9963-4b0e-bbea-a5bf802892c4">Services Thunbnails</Parent>
    <Path>/ServicesThunbnails/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T11:32:25</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l5fh33ky/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>