<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f36db76-459d-4185-8d26-e702e54d1eca" Alias="image-104 1.svg" Level="2">
  <Info>
    <Parent Key="9f064fc3-be94-454e-89f4-ba05d5436426">Team Members</Parent>
    <Path>/TeamMembers/image1041svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:42:22</CreateDate>
    <NodeName Default="image-104 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qrtjjxmg/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>