<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9f3f68d-467e-4b8a-899b-8141780b654f" Alias="image-24-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T13:23:08</CreateDate>
    <NodeName Default="image-24-min 2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p3ffck1f/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>