<?xml version="1.0" encoding="utf-8"?>
<Media Key="4810c469-4848-4699-85f1-1b83298f3a27" Alias="image-21-min 1 (1).svg" Level="2">
  <Info>
    <Parent Key="56e66941-9963-4b0e-bbea-a5bf802892c4">Services Thunbnails</Parent>
    <Path>/ServicesThunbnails/image21Min11Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T11:31:46</CreateDate>
    <NodeName Default="image-21-min 1 (1).svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tn2lfkst/image-21-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>