<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b151e87-f30c-45b1-8732-cb70dcff4d50" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="56e66941-9963-4b0e-bbea-a5bf802892c4">Services Thunbnails</Parent>
    <Path>/ServicesThunbnails/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T11:32:17</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/owrlpsix/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>