<?xml version="1.0" encoding="utf-8"?>
<Media Key="54de1c9b-90ef-41b2-9f4c-16fdd88b1fab" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="56e66941-9963-4b0e-bbea-a5bf802892c4">Services Thunbnails</Parent>
    <Path>/ServicesThunbnails/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T11:32:09</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ngqhznxu/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>