<?xml version="1.0" encoding="utf-8"?>
<Media Key="57d918b7-f270-43b7-bafe-4b78eda3e228" Alias="image-106 1.svg" Level="2">
  <Info>
    <Parent Key="9f064fc3-be94-454e-89f4-ba05d5436426">Team Members</Parent>
    <Path>/TeamMembers/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:42:15</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iwshxnll/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>