<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d9e7d21-4d44-45a7-bb28-cbc0fc187ea6" Alias="image-18-min 1.svg" Level="2">
  <Info>
    <Parent Key="56e66941-9963-4b0e-bbea-a5bf802892c4">Services Thunbnails</Parent>
    <Path>/ServicesThunbnails/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T11:31:59</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0padz505/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>