<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b7a60ec-7ea3-42e2-ba58-c0d7b6d5c13e" Alias="Img-1-4 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img141svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T11:51:52</CreateDate>
    <NodeName Default="Img-1-4 1.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d1onr4ny/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>