<?xml version="1.0" encoding="utf-8"?>
<Media Key="25e14c32-a43a-4e3c-882f-232b00402210" Alias="Img-47 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img471svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T11:08:04</CreateDate>
    <NodeName Default="Img-47 1.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ydyfhrzb/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>