<?xml version="1.0" encoding="utf-8"?>
<Media Key="46b585ea-b44b-40a9-8b89-97165d63ed76" Alias="Img-1 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T11:39:56</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/da2bpjcq/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>