<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2b2307f-605d-4b19-8494-fe28c96498c1" Alias="Img-5-e1695109900349 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T14:26:58</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rwgbaqcg/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>