<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e785845-82ae-4b41-9298-2882eae8199e" Alias="Img-4-2 1.svg" Level="2">
  <Info>
    <Parent Key="9f064fc3-be94-454e-89f4-ba05d5436426">Team Members</Parent>
    <Path>/TeamMembers/Img421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:42:50</CreateDate>
    <NodeName Default="Img-4-2 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w5snvhfv/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>