<?xml version="1.0" encoding="utf-8"?>
<Media Key="b38eb16d-5719-4d03-bd40-d456652e25f4" Alias="img_choose_01_home01 2.svg" Level="2">
  <Info>
    <Parent Key="9f064fc3-be94-454e-89f4-ba05d5436426">Team Members</Parent>
    <Path>/TeamMembers/img_choose_01_home012svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:42:34</CreateDate>
    <NodeName Default="img_choose_01_home01 2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t2gcyuic/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>