<?xml version="1.0" encoding="utf-8"?>
<Media Key="066b82c3-826f-4b0f-a53b-4d1a3c3011aa" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:35:30</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ge5ntzdu/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>