<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2612117-37fd-46af-a523-f46c79091e15" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:48:09</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2womgmhg/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>