<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bab604c-8cce-4e6f-bfd1-1f342c629618" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="9f064fc3-be94-454e-89f4-ba05d5436426">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:42:58</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x1obtoov/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>