<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c4a4c09-7c02-45fb-bc02-2b56688147d3" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T15:34:25</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5pyprxqz/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>