<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e918a5c-a479-4bc7-a788-309cf623ef59" Alias="partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T12:33:53</CreateDate>
    <NodeName Default="partners" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>