<?xml version="1.0" encoding="utf-8"?>
<Media Key="50b54f04-cbea-40c9-8473-e0a151c6e479" Alias="pj4 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj41svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T10:55:44</CreateDate>
    <NodeName Default="pj4 1.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/41zbpmxr/pj4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>