<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bbb2b38-b94d-4a58-b7da-8651dbda6bff" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:51:56</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zklbtkkw/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>