<?xml version="1.0" encoding="utf-8"?>
<Media Key="56e66941-9963-4b0e-bbea-a5bf802892c4" Alias="Services Thunbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThunbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T11:31:08</CreateDate>
    <NodeName Default="Services Thunbnails" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>