<?xml version="1.0" encoding="utf-8"?>
<Media Key="34b684cf-7730-428c-96bd-7563e5566ad9" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T10:29:44</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hu2bjvrl/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>