<?xml version="1.0" encoding="utf-8"?>
<Media Key="2edb85df-8f69-41af-840d-497dd3683934" Alias="Symbol.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Symbolsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T13:17:59</CreateDate>
    <NodeName Default="Symbol.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fu2httds/symbol.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>