<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ed17ca1-f370-4ea7-ad8f-9640c565d2db" Alias="2025-11-13 13:19 - contact" Level="2">
  <Info>
    <Parent Key="c3c29553-b142-4caf-8f07-26cdfb69b234">Question Submissions</Parent>
    <Path>/QuestionSubmissions/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>questionFormSubmission</ContentType>
    <CreateDate>2025-11-13T13:19:31</CreateDate>
    <NodeName Default="2025-11-13 13:19 - contact" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <submissionCreated>
      <Value><![CDATA[2025-11-13T13:19:31]]></Value>
    </submissionCreated>
    <submissionEmail>
      <Value><![CDATA[kevinswardh@gmail.com]]></Value>
    </submissionEmail>
    <submissionMessage>
      <Value><![CDATA[Whats ur age again?]]></Value>
    </submissionMessage>
    <submissionName>
      <Value><![CDATA[contact]]></Value>
    </submissionName>
    <submissionPage>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </submissionPage>
  </Properties>
</Content>