<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f65f81f-fef2-4359-af8b-a8c1d982c045" Alias="2025-11-13 13:15 - kevinswardh@gmail.com" Level="2">
  <Info>
    <Parent Key="8206b2db-fe6f-477a-914f-9dbfd913f0a6">Contact Box Submissions</Parent>
    <Path>/ContactBoxSubmissions/kevinswardhGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>contactBoxFormSubmission</ContentType>
    <CreateDate>2025-11-13T13:15:14</CreateDate>
    <NodeName Default="2025-11-13 13:15 - kevinswardh@gmail.com" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <submissionCreated>
      <Value><![CDATA[2025-11-13T13:15:00]]></Value>
    </submissionCreated>
    <submissionEmail>
      <Value><![CDATA[kevinswardh@gmail.com]]></Value>
    </submissionEmail>
    <submissionPage>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </submissionPage>
  </Properties>
</Content>