<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6433cdc-e62c-43e6-9474-91a1f210a5a6" Alias="2025-11-12 16:51 - contact" Level="2">
  <Info>
    <Parent Key="e7c0a14e-dde1-4d3f-8215-daa9d8b9aac7">Form Submissions</Parent>
    <Path>/FormSubmissions/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T16:51:47</CreateDate>
    <NodeName Default="2025-11-12 16:51 - contact" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[contact@fromcontact.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[contact]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test 4]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[1231321321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>