<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bec750c-652a-4717-a02d-6e3e3bbb7eaf" Alias="2025-11-12 10:22 - kevin" Level="2">
  <Info>
    <Parent Key="e7c0a14e-dde1-4d3f-8215-daa9d8b9aac7">Form Submissions</Parent>
    <Path>/FormSubmissions/kevin</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T10:22:06</CreateDate>
    <NodeName Default="2025-11-12 10:22 - kevin" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[kevin@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[kevin]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123456789]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>