<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ee2903e-ae87-4a6c-a372-76a0cf6b2a17" Alias="2025-11-12 10:37 - test" Level="2">
  <Info>
    <Parent Key="e7c0a14e-dde1-4d3f-8215-daa9d8b9aac7">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T10:37:09</CreateDate>
    <NodeName Default="2025-11-12 10:37 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[01283120398]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>