<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b67ba35-5249-414b-bd63-57b52efa3766" Alias="About" Level="2">
  <Info>
    <Parent Key="5f448c6f-c117-4dc7-b53e-e5ab76a2454d">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-10T11:47:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53dec3cd-be83-40a1-802e-547a07354a9b">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5919ac44-a0dc-4ab0-ad69-5e2c5870dc1c",
      "key": "93e21878-fd4a-442e-901e-025cb9a9a13a",
      "udi": null,
      "values": [
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
                "key": "37101880-bea4-4624-b533-4e66b68f3ac9",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "105ccca2-a5cb-4910-bc66-e95b8ce01c92",
                        "mediaKey": "5136ec55-b818-4f17-8ae1-04ca5b39177f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
                "key": "72671408-aede-4c6e-bc25-a7f46734c493",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1f03f4f2-b816-486d-89e9-1f4e1e6e6858",
                        "mediaKey": "57d918b7-f270-43b7-bafe-4b78eda3e228",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
                "key": "d32c8886-e0d0-4a46-82ef-ac8b1cdd3863",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d2c53c3c-5f5f-4814-ba2a-031eb8eca5b0",
                        "mediaKey": "3f36db76-459d-4185-8d26-e702e54d1eca",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
                "key": "f7bed0f7-740d-4e57-9c7c-f153e2c50ab4",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7f08fdf6-a1cb-49dd-8375-38137de9855f",
                        "mediaKey": "b38eb16d-5719-4d03-bd40-d456652e25f4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
                "key": "53ef4642-87ff-4abe-846e-3b7832ab1731",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cf3d157e-a9c1-4d7f-9884-20e777df8965",
                        "mediaKey": "5fa49bbb-6443-489e-ad51-806d6c6bfa76",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
                "key": "de2d2bb8-0c32-4934-b533-8bb1a93ab85c",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1e6d4ecb-2dee-413e-b818-4b5abcbb9265",
                        "mediaKey": "7e785845-82ae-4b41-9298-2882eae8199e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
                "key": "35d7e597-f152-49d4-9f05-3723c9606f84",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7204d9f1-42a0-4fda-ba74-c1fe75f08a41",
                        "mediaKey": "5bab604c-8cce-4e6f-bfd1-1f342c629618",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "37101880-bea4-4624-b533-4e66b68f3ac9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "72671408-aede-4c6e-bc25-a7f46734c493",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d32c8886-e0d0-4a46-82ef-ac8b1cdd3863",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f7bed0f7-740d-4e57-9c7c-f153e2c50ab4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "53ef4642-87ff-4abe-846e-3b7832ab1731",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "de2d2bb8-0c32-4934-b533-8bb1a93ab85c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "35d7e597-f152-49d4-9f05-3723c9606f84",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "37101880-bea4-4624-b533-4e66b68f3ac9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "72671408-aede-4c6e-bc25-a7f46734c493",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d32c8886-e0d0-4a46-82ef-ac8b1cdd3863",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f7bed0f7-740d-4e57-9c7c-f153e2c50ab4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "53ef4642-87ff-4abe-846e-3b7832ab1731",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "de2d2bb8-0c32-4934-b533-8bb1a93ab85c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "35d7e597-f152-49d4-9f05-3723c9606f84",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "93e21878-fd4a-442e-901e-025cb9a9a13a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "93e21878-fd4a-442e-901e-025cb9a9a13a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>