<?xml version="1.0" encoding="utf-8"?>
<Content Key="059e656e-8f2b-4d1c-92b9-82ace24144da" Alias="Annual Report" Level="3">
  <Info>
    <Parent Key="cb061381-4463-4ae8-82b9-230e7e79d3b1">Projects</Parent>
    <Path>/Onatrix/Projects/AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetail</ContentType>
    <CreateDate>2025-11-14T11:10:17</CreateDate>
    <NodeName Default="Annual Report" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e497fc3a-d867-41ff-9a01-8c0a7df98c07">ProjectDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </pageTitle>
    <projectDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "285adbd8-9bc1-4ebb-bb25-947015237a2e",
      "key": "431eed2a-4450-451e-922f-97cf86952766",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        },
        {
          "alias": "placeholder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email adress"
        }
      ]
    },
    {
      "contentTypeKey": "ccd8af01-17c2-4f2d-8444-3d244a640c0f",
      "key": "ea148d07-c5ab-404c-b015-d7d025a49d1d",
      "udi": null,
      "values": [
        {
          "alias": "widgetTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Recent projects"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "431eed2a-4450-451e-922f-97cf86952766",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ea148d07-c5ab-404c-b015-d7d025a49d1d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ea148d07-c5ab-404c-b015-d7d025a49d1d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "431eed2a-4450-451e-922f-97cf86952766",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailAsides>
    <projectDetailBody>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f9ca96dc-5449-45a7-b8a9-0eb4a9fa1e0e",
      "key": "73715bec-995f-4649-8bcf-bcb7f6b80139",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "43fb7a0a-1e48-4f31-98ae-aacb0d5370e5",
              "mediaKey": "50b54f04-cbea-40c9-8473-e0a151c6e479",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8cab29d7-68f1-4c89-b376-95d92061d4e8",
      "key": "f34e48b8-2b9a-4999-9ebc-447894e4860c",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu ante in mauris placerat ultricies eget eget nibh.\u003C/p\u003E\u003Cp\u003EPellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4cb258be-d2aa-4845-a868-370dce034566",
      "key": "6dc725bc-51b5-45fd-9593-e3b9f2b41e1e",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Suggestions for you"
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Understanding the process of helping clients meet their financial needs today and reach their goals.\nIdentifying insights to capture global market changes that open up new opportunities.\nBuilding frameworks for growth and strategy execution across marketing, sales and operations."
        }
      ]
    },
    {
      "contentTypeKey": "423c7148-a477-4b4e-8201-f4fbdb0ba84b",
      "key": "3d2a34dc-086b-484d-b068-843df18ba56e",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8e7a8e5b-0239-4df4-bf8c-daccdf8eb7d2",
              "mediaKey": "25e14c32-a43a-4e3c-882f-232b00402210",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nunc facilisis ante quis gravida mollis"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUt placerat neque vitae nibh posuere, et consequat elit iaculis. Nunc sit amet elit sollicitudin, tempor metus non, aliquam nibh.\u003C/p\u003E\u003Cp\u003ECurabitur vitae lacus a erat fermentum fermentum. Nunc sit amet elit sollicitudin.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8cab29d7-68f1-4c89-b376-95d92061d4e8",
      "key": "f67fb17e-bbaf-4671-a436-0b5263980f68",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nullam et blandit felis, ut efficitur lorem. Nulle pharetra turpis eget dictum condimentum"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECras porttitor sollicitudin consectetur. Maecenas faucibus nisl eget ligula convallis, ac scelerisque velit pulvinar.\u003C/p\u003E\u003Cp\u003EPellentesque venenatis ipsum at neque tincidunt, eget rhoncus quam consequat. Nulla interdum tristique erat, a finibus neque iaculis porttitor.\u003C/p\u003E\u003Cp\u003ESuspendisse non semper augue. Mauris feugiat libero non mi pellentesque, et sollicitudin lorem malesuada.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f9ca96dc-5449-45a7-b8a9-0eb4a9fa1e0e",
      "key": "cb0cd330-8726-4182-a647-d27530de93d2",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b025895d-7e65-48a8-a52c-a299f478a33a",
              "mediaKey": "1b7a60ec-7ea3-42e2-ba58-c0d7b6d5c13e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8cab29d7-68f1-4c89-b376-95d92061d4e8",
      "key": "c3c3e59a-7332-41c3-be6e-bc218406ac01",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nunc facilisis ante quis gravida mollis"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUt placerat neque vitae nibh posuere, et consequat elit iaculis. Nunc sit amet elit sollicitudin, tempor metus non, aliquam nibh.\u003C/p\u003E\u003Cp\u003ECurabitur vitae lacus a erat fermentum fermentum. In posuere velit ut risus feugiat, at tincidunt arcu fermentum.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "73715bec-995f-4649-8bcf-bcb7f6b80139",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f34e48b8-2b9a-4999-9ebc-447894e4860c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6dc725bc-51b5-45fd-9593-e3b9f2b41e1e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d2a34dc-086b-484d-b068-843df18ba56e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f67fb17e-bbaf-4671-a436-0b5263980f68",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb0cd330-8726-4182-a647-d27530de93d2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c3c3e59a-7332-41c3-be6e-bc218406ac01",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f34e48b8-2b9a-4999-9ebc-447894e4860c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "73715bec-995f-4649-8bcf-bcb7f6b80139",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6dc725bc-51b5-45fd-9593-e3b9f2b41e1e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3d2a34dc-086b-484d-b068-843df18ba56e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f67fb17e-bbaf-4671-a436-0b5263980f68",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cb0cd330-8726-4182-a647-d27530de93d2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c3c3e59a-7332-41c3-be6e-bc218406ac01",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailBody>
    <projectDetailExcerpt>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDetailExcerpt>
    <projectDetailSections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "aa83fa96-6149-4938-8954-bc5053a38462",
      "key": "606e1901-ee88-4c46-aa25-061314bb1147",
      "udi": null,
      "values": [
        {
          "alias": "contactHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELet us know about\u003C/p\u003E\u003Cp\u003Eyour next project\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0eeea042-ea2a-492d-b98e-8f8d2b716167",
              "mediaKey": "a2b2307f-605d-4b19-8494-fe28c96498c1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "officeValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "phoneValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "emailValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "606e1901-ee88-4c46-aa25-061314bb1147",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "606e1901-ee88-4c46-aa25-061314bb1147",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </projectDetailSections>
    <projectDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "c68615bd-eea1-4622-96a4-4824d85159c6",
    "mediaKey": "50b54f04-cbea-40c9-8473-e0a151c6e479",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDetailThumbnail>
  </Properties>
</Content>