<?xml version="1.0" encoding="utf-8"?>
<Content Key="8206b2db-fe6f-477a-914f-9dbfd913f0a6" Alias="Contact Box Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactBoxSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>contactBoxFormSubmissions</ContentType>
    <CreateDate>2025-11-13T12:11:33</CreateDate>
    <NodeName Default="Contact Box Submissions" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>