<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fc910bb-b191-4b2f-8972-94654ceb09a3" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5f448c6f-c117-4dc7-b53e-e5ab76a2454d">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-07T11:54:08</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a7fba899-b7e5-48fb-a863-439d0cf2d715">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "aaf31c25-6a32-4bff-8a37-d23c726242ad",
      "key": "65d15070-d815-418b-b7c2-e8c0e2cdcdcc",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a12d7fcc-8d4c-4b50-afa8-88372520567b",
              "mediaKey": "3c4a4c09-7c02-45fb-bc02-2b56688147d3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactCallbackKicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactCallbackHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactCallbackDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur\u003C/p\u003E\u003Cp\u003E adipiscing elit. Maecenas consectetur,\u003C/p\u003E\u003Cp\u003E ligula semper sagittis lobortis, eros \u003C/p\u003E\u003Cp\u003Emetus efficitur purus.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "aa83fa96-6149-4938-8954-bc5053a38462",
      "key": "ac14d57c-c4af-4068-be01-51bbfef6092d",
      "udi": null,
      "values": [
        {
          "alias": "contactHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELet us know about\u003C/p\u003E\u003Cp\u003Eyour next project\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "76d1479e-aff5-44cd-af30-0600b99cfebb",
              "mediaKey": "a2b2307f-605d-4b19-8494-fe28c96498c1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "officeValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "phoneValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "emailValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5dcf89a2-d044-4111-bcd4-014bfca2348f",
      "key": "cf929b87-1cc9-495f-a78a-17b9bac5dfae",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test 4\nTest 5\nTest 6"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "65d15070-d815-418b-b7c2-e8c0e2cdcdcc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ac14d57c-c4af-4068-be01-51bbfef6092d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ac14d57c-c4af-4068-be01-51bbfef6092d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "65d15070-d815-418b-b7c2-e8c0e2cdcdcc",
        "contentUdi": null,
        "settingsKey": "cf929b87-1cc9-495f-a78a-17b9bac5dfae",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>