<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fc910bb-b191-4b2f-8972-94654ceb09a3" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5f448c6f-c117-4dc7-b53e-e5ab76a2454d">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-07T11:54:08</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a7fba899-b7e5-48fb-a863-439d0cf2d715">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact us]]></Value>
    </pageTitle>
  </Properties>
</Content>