<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb061381-4463-4ae8-82b9-230e7e79d3b1" Alias="Projects" Level="2">
  <Info>
    <Parent Key="5f448c6f-c117-4dc7-b53e-e5ab76a2454d">Onatrix</Parent>
    <Path>/Onatrix/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2025-11-14T10:48:23</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="222f8b94-57f6-4332-8402-f43b9f876ee1">ProjectsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9eb3886e-45a2-44b5-89df-e8b724f7ecdd",
      "key": "01907484-89f8-494f-b925-da7d1a555a7f",
      "udi": null,
      "values": [
        {
          "alias": "rightAsides",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "285adbd8-9bc1-4ebb-bb25-947015237a2e",
                "key": "0550d694-ed49-4367-92de-21d054c6b0b9",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "How can we help you?"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "online support 24/7, we ar ehere to help you"
                  },
                  {
                    "alias": "placeholder",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail address"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0550d694-ed49-4367-92de-21d054c6b0b9",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0550d694-ed49-4367-92de-21d054c6b0b9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "aa83fa96-6149-4938-8954-bc5053a38462",
      "key": "405cc972-5791-4f26-881c-863f50fcbceb",
      "udi": null,
      "values": [
        {
          "alias": "contactHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELet us know about\u003C/p\u003E\u003Cp\u003Eyour next project\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9aa7ae2d-f9b7-46dc-bc6f-ea9c25fe2ea9",
              "mediaKey": "a2b2307f-605d-4b19-8494-fe28c96498c1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "officeValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "phoneValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "emailValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "01907484-89f8-494f-b925-da7d1a555a7f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "405cc972-5791-4f26-881c-863f50fcbceb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "01907484-89f8-494f-b925-da7d1a555a7f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "405cc972-5791-4f26-881c-863f50fcbceb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>