<?xml version="1.0" encoding="utf-8"?>
<Content Key="279fd272-bfb0-4c94-891e-5a0ec4bf3c2d" Alias="Services" Level="2">
  <Info>
    <Parent Key="5f448c6f-c117-4dc7-b53e-e5ab76a2454d">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-10T10:18:42</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c3facf89-af45-457b-af9f-69c888790a10">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3e1ad12-1f55-4fcd-8cde-5b11251645e5",
      "key": "e514e92a-9796-46c7-a61e-1a5a27430e61",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "aa83fa96-6149-4938-8954-bc5053a38462",
      "key": "f69ecffe-5efe-47fa-8611-c3167b47f2e2",
      "udi": null,
      "values": [
        {
          "alias": "contactHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELet us know about\u003C/p\u003E\u003Cp\u003Eyour next project\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "69374785-ea33-4a92-98b5-61aaccfc4d4b",
              "mediaKey": "a2b2307f-605d-4b19-8494-fe28c96498c1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "officeTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "officeValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "phoneValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "emailValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0aa3959d-fc25-48b5-93e8-b535d62c575f",
      "key": "eb0358c2-0880-41ad-8c12-d65539cdf666",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e514e92a-9796-46c7-a61e-1a5a27430e61",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f69ecffe-5efe-47fa-8611-c3167b47f2e2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e514e92a-9796-46c7-a61e-1a5a27430e61",
        "contentUdi": null,
        "settingsKey": "eb0358c2-0880-41ad-8c12-d65539cdf666",
        "settingsUdi": null
      },
      {
        "contentKey": "f69ecffe-5efe-47fa-8611-c3167b47f2e2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>