<?xml version="1.0" encoding="utf-8"?>
<Content Key="67c104c3-7c1e-440c-bb8b-61eebec2f151" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-10T13:20:53</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4bee348a-ff5a-4c2d-9b45-8b82d4b2e8a6">SiteSettings</Template>
  </Info>
  <Properties>
    <contactAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAdress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerBackground>
      <Value><![CDATA[#0e0e0e]]></Value>
    </footerBackground>
    <footerText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u00A9 Onatrix. All Rights Reserved. Credits to\u003C/p\u003E\u003Cp class=\u0022text-rte-sm font-bold\u0022\u003EThemesflat\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </footerText>
    <footerTextColor>
      <Value><![CDATA[#d9c3a9]]></Value>
    </footerTextColor>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "85b5dea1-30fb-4d1c-846c-5a3288ab670f",
      "key": "ef344b0e-6e6d-410c-b189-f2e9831cf2d9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "85b5dea1-30fb-4d1c-846c-5a3288ab670f",
      "key": "ef916b72-f5e8-4b72-83b0-c113c6fd5dc4",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ef344b0e-6e6d-410c-b189-f2e9831cf2d9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ef916b72-f5e8-4b72-83b0-c113c6fd5dc4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ef344b0e-6e6d-410c-b189-f2e9831cf2d9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ef916b72-f5e8-4b72-83b0-c113c6fd5dc4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "714b1ef9-0f52-449a-b651-61a375b069a6",
    "mediaKey": "44c92b52-e536-40ee-aef5-850e61eeb150",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>