<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cfa2f8dd-de9f-4393-a1e4-206cb36fb944" Alias="Article Bullet List - Items - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Article Bullet List - Items - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>