<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c5dece6-7303-4bb7-8871-035065161366" Alias="Contact Callback Settings - Callback Request Options - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Contact Callback Settings - Callback Request Options - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>