<?xml version="1.0" encoding="utf-8"?>
<DataType Key="067276b0-36a6-47ba-b5d3-4d352c02e8d1" Alias="Contact Callback Settings - Options - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Contact Callback Settings - Options - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>