<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0cc69c5-02f0-46a3-a2f4-30e2c8e65ddc" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4a1e168a-ebcc-44b7-ad00-481237c3a7cb"
    },
    {
      "contentElementTypeKey": "c3e1ad12-1f55-4fcd-8cde-5b11251645e5",
      "settingsElementTypeKey": "0aa3959d-fc25-48b5-93e8-b535d62c575f"
    },
    {
      "contentElementTypeKey": "5919ac44-a0dc-4ab0-ad69-5e2c5870dc1c"
    },
    {
      "contentElementTypeKey": "cc764d40-dc65-4ad8-b981-f565950c6c33",
      "settingsElementTypeKey": "d4188783-b3c4-4914-a97d-ddf103febca7"
    },
    {
      "contentElementTypeKey": "15816b72-dfb6-4ecf-870a-5bcb7df58370"
    },
    {
      "contentElementTypeKey": "f9d75a23-0ee1-42ba-923a-5898591fb1e9"
    },
    {
      "contentElementTypeKey": "8062ea41-c33c-4483-a97e-9fb67a053708"
    },
    {
      "contentElementTypeKey": "59e03099-dc92-4f69-824f-362839c5d0ea"
    },
    {
      "contentElementTypeKey": "6b084868-b0d2-4411-a73e-a1afcb85a046"
    },
    {
      "contentElementTypeKey": "aa83fa96-6149-4938-8954-bc5053a38462"
    },
    {
      "contentElementTypeKey": "aaf31c25-6a32-4bff-8a37-d23c726242ad",
      "settingsElementTypeKey": "5dcf89a2-d044-4111-bcd4-014bfca2348f"
    }
  ]
}]]></Config>
</DataType>