<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0cc69c5-02f0-46a3-a2f4-30e2c8e65ddc" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4a1e168a-ebcc-44b7-ad00-481237c3a7cb"
    },
    {
      "contentElementTypeKey": "c3e1ad12-1f55-4fcd-8cde-5b11251645e5",
      "settingsElementTypeKey": "0aa3959d-fc25-48b5-93e8-b535d62c575f"
    },
    {
      "contentElementTypeKey": "5919ac44-a0dc-4ab0-ad69-5e2c5870dc1c"
    }
  ]
}]]></Config>
</DataType>