<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7614273-577b-466c-82da-526b66d2f952" Alias="Project Detail - Body - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Project Detail - Body - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4cb258be-d2aa-4845-a868-370dce034566"
    },
    {
      "contentElementTypeKey": "f9ca96dc-5449-45a7-b8a9-0eb4a9fa1e0e"
    },
    {
      "contentElementTypeKey": "423c7148-a477-4b4e-8201-f4fbdb0ba84b"
    },
    {
      "contentElementTypeKey": "b4316a79-9f30-4099-848f-41bda6fc05f5"
    },
    {
      "contentElementTypeKey": "8cab29d7-68f1-4c89-b376-95d92061d4e8"
    }
  ]
}]]></Config>
</DataType>