<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2866f63f-d195-4226-b4dc-488ad9b523ca" Alias="Projects Page - Sidebar - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Projects Page - Sidebar - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "285adbd8-9bc1-4ebb-bb25-947015237a2e"
    }
  ]
}]]></Config>
</DataType>