<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe505a93-f48a-4436-b033-86061b969335" Alias="Project Detail - Project Detail Excerpt - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Project Detail - Project Detail Excerpt - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>