<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92d5449e-f367-4d6f-b285-7dd8e0432fdd" Alias="Project Settings - bgColor - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Project Settings - bgColor - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>