<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8efecada-75eb-414c-b21b-dc6cd2b83402" Alias="Projects Page - Sections - Block List Property Editor UI (1)" Level="1">
  <Info>
    <Name>Projects Page - Sections - Block List Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>