<?xml version="1.0" encoding="utf-8"?>
<DataType Key="605e9875-0589-425d-a0a6-4053b2b50b66" Alias="Project Section - Project Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Project Section - Project Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>