<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e380b76-0e57-49bb-adf3-d129597aec78" Alias="Project Section - Right Asides - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Project Section - Right Asides - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "285adbd8-9bc1-4ebb-bb25-947015237a2e"
    },
    {
      "contentElementTypeKey": "ccd8af01-17c2-4f2d-8444-3d244a640c0f"
    }
  ]
}]]></Config>
</DataType>