<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ddd2762d-74a5-4408-96a4-e0f3acd3a041" Alias="Projects Page - Project Listing Section - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Projects Page - Project Listing Section - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>