<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e299e59a-f20f-466c-95a5-eea8ab2de3bb" Alias="Question Form Submission - Submission Created - Date Picker Property Editor UI" Level="1">
  <Info>
    <Name>Question Form Submission - Submission Created - Date Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss"
}]]></Config>
</DataType>