<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb3b9737-091c-4b58-9101-979fe91f1828" Alias="Question Form Submission - Submission Message - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Question Form Submission - Submission Message - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>