<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de587ada-19c1-4416-b89d-46fc854697c1" Alias="Question Form Submission - Submission Created - Date Picker Property Editor UI (1)" Level="1">
  <Info>
    <Name>Question Form Submission - Submission Created - Date Picker Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss"
}]]></Config>
</DataType>