<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09c60410-1f5c-4352-ba53-bb6eeb1cd02c" Alias="Service Settings - Service BgColor - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Service BgColor - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "fff",
      "label": "White"
    },
    {
      "value": "f7f7f7",
      "label": "White-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>