<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4ffeeee-a12f-4451-8a62-c8020ab316da" Alias="Service Settings - BgColor - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - BgColor - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "fff",
      "label": "White"
    },
    {
      "value": "f7f7f7",
      "label": "White-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>