<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f775ac3-2389-421b-8c65-06dc9d960a66" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "29bb6faa-2e6d-4687-aef1-a541525542cc"
    }
  ]
}]]></Config>
</DataType>