<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe330af5-c91a-468f-88b9-4ea79ab4c7f2" Alias="Service Detail - Service Detail Excerpt - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - Service Detail Excerpt - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>