<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c6066a4-4354-47a7-8c4d-956163ec99fe" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "85b5dea1-30fb-4d1c-846c-5a3288ab670f",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>