<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e9f8946-d66f-44ad-ac8b-ab05a16db489" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0dfb3c27-2d19-436d-a487-3e9c16a136a8",
      "label": "{umbValue:teamMemberName}"
    }
  ]
}]]></Config>
</DataType>