<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43f21180-5862-48f8-8740-89af14cc3d63" Alias="contactBoxFormSubmissions" Level="3">
  <Info>
    <Name>Contact Box Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms/ContactBoxForm</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0ad8f914-d979-43d7-9325-bb941539a9fa" SortOrder="0">contactBoxFormSubmission</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>