<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af7f8d7b-aaf2-485c-86e7-9a6f0063c6cf" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="77b8eb6d-2091-42d1-9e85-d77956600f96">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff7996bc-37e1-4c33-a003-6e995a0ffb5f">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7eb50932-c72d-4138-b636-3a86bdbf1ef4" SortOrder="0">contactPage</ContentType>
    <ContentType Key="94f4c0b7-bf8e-4bf9-8487-041c1eb92be6" SortOrder="1">servicePage</ContentType>
    <ContentType Key="5227f395-e7b6-41d4-ac2d-be2ef148ae67" SortOrder="2">aboutPage</ContentType>
    <ContentType Key="edeffb6f-8bcb-4285-9cf6-6bcf127c10a5" SortOrder="3">projectsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>16b992b0-2e95-4495-b971-ba3298a25702</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>d0cc69c5-02f0-46a3-a2f4-30e2c8e65ddc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>13026e06-6e78-47f5-8a25-916acbf5ccc4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>