<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="edeffb6f-8bcb-4285-9cf6-6bcf127c10a5" Alias="projectsPage" Level="2">
  <Info>
    <Name>Projects Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="77b8eb6d-2091-42d1-9e85-d77956600f96">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ProjectsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="222f8b94-57f6-4332-8402-f43b9f876ee1">ProjectsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3f670ed8-106c-45a6-8581-be32d0efb89b" SortOrder="0">projectDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6ec4198f-e824-4e0a-845a-f6d53feb535f</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>d0cc69c5-02f0-46a3-a2f4-30e2c8e65ddc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1b36f977-f0c3-4687-848c-08f525e13228</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>