<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9eb3886e-45a2-44b5-89df-e8b724f7ecdd" Alias="projectSection" Level="3">
  <Info>
    <Name>Project Section</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sections/Project</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a73d614f-94f0-4aa8-8e18-e9d0a268a616</Key>
      <Name>Project Items</Name>
      <Alias>projectItems</Alias>
      <Definition>605e9875-0589-425d-a0a6-4053b2b50b66</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectItems">Project Items</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0c4cc57-4f53-4f83-8eec-fc1d2913ceb5</Key>
      <Name>Widgets</Name>
      <Alias>rightAsides</Alias>
      <Definition>2e380b76-0e57-49bb-adf3-d129597aec78</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="asides">Asides</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>22eae545-5cfc-4eb9-994c-2c19df7e9383</Key>
      <Caption>Asides</Caption>
      <Alias>asides</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b73942ee-d318-4fca-b922-e5d1a49eebb5</Key>
      <Caption>Project Items</Caption>
      <Alias>projectItems</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>